body {
  padding: 0 10%;
  background-color: #fafafa;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  background-color: #ffffff;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
@media (max-width: 570px) {
  body {
    padding: 0;
  }
}
